<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/story.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree Serif">
    
    <script src="https://kit.fontawesome.com/26197ec3bf.js"></script>  

    <title>Story7</title>
</head>
<body>
    <div id="page" class="light-mode">
        <div class="container-mode">
            <div class="ml-auto">
                <button class="mode">SWIPE</button>
            </div>
        </div>

        <div class="container">
            <h1>Informasi Mengenai Saya</h1>
            <p>Halo, nama saya Muhammad Azis Husein, berikut beberapa informasi mengenai saya</p>
            
            <div class="accordion">
                <div class="accordion-section">
                    <a class="accordion-section-title" href="#accordion-1">Aktivitas</a>
            
                    <div id="accordion-1" class="accordion-section-content">
                        <p>Aktivitas rutin saya saat ini adalah membuat story PPW setiap pekannya. Selain itu, saya juga aktiv dalam menyelesaikan permasalahan-permasalahan yang dialami oleh Borman Star. Belakangan ini saya sedang sangat sibuk menghitung donat yang sedang dalam proses pemilhan donat terbaik.</p>
                    </div><!--end .accordion-section-content-->
                </div><!--end .accordion-section-->

                <div class="accordion-section">
                    <a class="accordion-section-title" href="#accordion-2">Pengalaman Organisasi/Kepanitiaan</a>
            
                    <div id="accordion-2" class="accordion-section-content">
                        <h5>Panitia Pemilihan Donat Terbaik</h5>
                        <p>Pada tahun 2019 ini, saya bekerja sebagai developer pembuat sistem perhitungan suara untuk pemilihan donat terbaik di Indonesia. Saya merasa banyak sekali pelajaran yang dapat saya ambil dari pengalaman bekerja di pemilihan donat</p>
                        <br>
                        <h5>BEM Fasilkom UI</h5>
                        <p>Saya sudah bekerja di BEM Fasilkom UI semenjak bulan Januari tahun 2019. Saya bekerja di Departemen Kajian dan aksi Stategis.</p>
                    </div><!--end .accordion-section-content-->
                </div><!--end .accordion-section-->

                <div class="accordion-section">
                    <a class="accordion-section-title" href="#accordion-3">Prestasi</a>
            
                    <div id="accordion-3" class="accordion-section-content">
                        <h5>Juara 2 Kahoot PPW Sebelum UTS</h5>
                        <p>Sepekan sebelum UTS, para asdos mengadakan kahoot time di lab. Saya mengerjakannya dengan sangat serius dan alhamdulillah mendapat juara 2 dan mendapatkan hadiah berupa cemilan yang bisa saya makan saat mengerjakan story dan tugas kelompok PPW. terimakasih Kak Pewe!</p>
                    </div><!--end .accordion-section-content-->
                </div><!--end .accordion-section-->
            </div><!--end .accordion-->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="{% static '/js/story.js' %}"></script>
</body>
</html>