/* -------------- CSS RESET --------------- */

* {
    box-sizing: border-box;
    font-family: 'Bree Serif';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* -------------- PAGE --------------- */

#page {
    padding-bottom: 35vh;
}

.light-mode {
    background: #ffe432;
    color: #000;
    -webkit-transition-duration: 2s; 
}

.dark-mode {
    background: #004fd1;
    -webkit-transition-duration: 2s;   
}

.container {
    max-width: 1100px;
    margin: auto;
}

.container h1 {
    text-align: center;
    padding-top: 5vh;
}

.container p {
    text-align: center;
}

.container-mode {
    display: flex;
    padding: 10px;
}

.box-mode {
    margin: auto;
    padding: 5px;
}

button {
    background: #fff;
    border-radius: 20px;
    padding: 5px;
}

button:hover {
    background: rgb(116, 114, 114);
    -webkit-transition-duration: 0.5s;
}

/* -------------- ACCORDION --------------- */

.accordion,
.accordion * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:3px;
    background:#f7f7f7;
    margin-top: 15vh;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    text-align: center;
	padding:15px;
	display:inline-block;
	border-bottom:1px solid #1a1a1a;
	background:#333;
	transition:all linear 0.15s;
	font-size:1.200em;
	text-shadow:0px 1px 0px #1a1a1a;
	color:#fff;
}

.accordion-section-title.active,
.accordion-section-title:hover {
	background:#4c4c4c;
    text-decoration:none;
    color: #1a1a1a;
    -webkit-transition-duration: 0.5s;
}

.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
	padding:15px;
	display:none;
}